In [133]:
import pandas as pd
import seaborn as sns
import json
from bs4 import BeautifulSoup
import re
from math import ceil
%matplotlib inline
sns.set()
import shutil

In [2]:
df = pd.read_csv('./dirty_data/free_company_dataset.csv', error_bad_lines=False)

b'Skipping line 69743: expected 10 fields, saw 11\nSkipping line 101632: expected 10 fields, saw 11\n'
b'Skipping line 157754: expected 10 fields, saw 11\nSkipping line 189017: expected 10 fields, saw 11\n'
b'Skipping line 308592: expected 10 fields, saw 11\nSkipping line 312800: expected 10 fields, saw 11\n'
b'Skipping line 333445: expected 10 fields, saw 11\nSkipping line 353899: expected 10 fields, saw 11\nSkipping line 361250: expected 10 fields, saw 11\nSkipping line 374180: expected 10 fields, saw 11\nSkipping line 374658: expected 10 fields, saw 11\n'
b'Skipping line 416636: expected 10 fields, saw 11\nSkipping line 435987: expected 10 fields, saw 11\nSkipping line 455847: expected 10 fields, saw 11\n'
b'Skipping line 463320: expected 10 fields, saw 11\nSkipping line 481278: expected 10 fields, saw 11\nSkipping line 500441: expected 10 fields, saw 11\nSkipping line 504289: expected 10 fields, saw 11\n'
b'Skipping line 530687: expected 10 fields, saw 11\nSkipping line 542886: expected 10 fields, saw 11\n'
b'Skipping line 685984: expected 10 fields, saw 11\nSkipping line 698387: expected 10 fields, saw 11\nSkipping line 707451: expected 10 fields, saw 12\n'
b'Skipping line 727248: expected 10 fields, saw 11\nSkipping line 761507: expected 10 fields, saw 12\nSkipping line 778187: expected 10 fields, saw 12\n'
b'Skipping line 793809: expected 10 fields, saw 11\nSkipping line 808826: expected 10 fields, saw 11\nSkipping line 820281: expected 10 fields, saw 14\n'
b'Skipping line 869771: expected 10 fields, saw 11\n'
b'Skipping line 938174: expected 10 fields, saw 11\nSkipping line 949233: expected 10 fields, saw 12\n'
b'Skipping line 1002732: expected 10 fields, saw 11\n'
b'Skipping line 1068804: expected 10 fields, saw 11\nSkipping line 1099621: expected 10 fields, saw 11\n'
b'Skipping line 1123990: expected 10 fields, saw 11\n'
b'Skipping line 1224138: expected 10 fields, saw 11\nSkipping line 1227206: expected 10 fields, saw 12\n'
b'Skipping line 1302615: expected 10 fields, saw 12\n'
b'Skipping line 1311726: expected 10 fields, saw 11\nSkipping line 1316416: expected 10 fields, saw 11\nSkipping line 1364055: expected 10 fields, saw 11\n'
b'Skipping line 1387413: expected 10 fields, saw 12\nSkipping line 1415024: expected 10 fields, saw 12\nSkipping line 1441433: expected 10 fields, saw 11\n'
b'Skipping line 1465650: expected 10 fields, saw 11\nSkipping line 1471410: expected 10 fields, saw 11\nSkipping line 1500271: expected 10 fields, saw 12\nSkipping line 1504482: expected 10 fields, saw 14\nSkipping line 1507357: expected 10 fields, saw 12\n'
b'Skipping line 1529146: expected 10 fields, saw 11\nSkipping line 1532752: expected 10 fields, saw 11\nSkipping line 1540015: expected 10 fields, saw 11\nSkipping line 1561256: expected 10 fields, saw 11\n'
b'Skipping line 1588609: expected 10 fields, saw 11\nSkipping line 1597395: expected 10 fields, saw 13\nSkipping line 1606589: expected 10 fields, saw 11\nSkipping line 1612226: expected 10 fields, saw 11\nSkipping line 1617191: expected 10 fields, saw 11\n'
b'Skipping line 1669732: expected 10 fields, saw 11\nSkipping line 1670065: expected 10 fields, saw 11\nSkipping line 1694655: expected 10 fields, saw 12\n'
b'Skipping line 1771811: expected 10 fields, saw 11\nSkipping line 1790431: expected 10 fields, saw 11\nSkipping line 1816342: expected 10 fields, saw 11\nSkipping line 1832298: expected 10 fields, saw 11\n'
b'Skipping line 1852579: expected 10 fields, saw 11\nSkipping line 1868391: expected 10 fields, saw 11\n'
b'Skipping line 1906116: expected 10 fields, saw 11\nSkipping line 1944736: expected 10 fields, saw 12\n'
b'Skipping line 1984312: expected 10 fields, saw 11\nSkipping line 1985320: expected 10 fields, saw 11\nSkipping line 2028522: expected 10 fields, saw 11\n'
b'Skipping line 2035512: expected 10 fields, saw 13\nSkipping line 2039344: expected 10 fields, saw 11\nSkipping line 2064861: expected 10 fields, saw 11\nSkipping line 2066206: expected 10 fields, saw 11\nSkipping line 2068587: expected 10 fields, saw 11\nSkipping line 2069693: expected 10 fields, saw 11\nSkipping line 2072438: expected 10 fields, saw 14\n'
b'Skipping line 2101815: expected 10 fields, saw 11\nSkipping line 2105053: expected 10 fields, saw 11\nSkipping line 2114492: expected 10 fields, saw 11\nSkipping line 2142065: expected 10 fields, saw 11\nSkipping line 2144034: expected 10 fields, saw 11\nSkipping line 2148866: expected 10 fields, saw 11\nSkipping line 2151017: expected 10 fields, saw 11\n'
b'Skipping line 2178771: expected 10 fields, saw 11\nSkipping line 2213585: expected 10 fields, saw 11\nSkipping line 2221020: expected 10 fields, saw 12\nSkipping line 2223529: expected 10 fields, saw 11\nSkipping line 2225196: expected 10 fields, saw 11\n'
b'Skipping line 2280839: expected 10 fields, saw 11\nSkipping line 2283089: expected 10 fields, saw 11\n'
b'Skipping line 2299226: expected 10 fields, saw 11\nSkipping line 2335200: expected 10 fields, saw 11\nSkipping line 2347755: expected 10 fields, saw 11\nSkipping line 2348496: expected 10 fields, saw 11\nSkipping line 2352531: expected 10 fields, saw 11\nSkipping line 2353039: expected 10 fields, saw 11\n'
b'Skipping line 2363803: expected 10 fields, saw 11\nSkipping line 2394751: expected 10 fields, saw 11\n'
b'Skipping line 2441029: expected 10 fields, saw 11\nSkipping line 2484013: expected 10 fields, saw 11\nSkipping line 2486186: expected 10 fields, saw 11\n'
b'Skipping line 2494052: expected 10 fields, saw 11\nSkipping line 2494525: expected 10 fields, saw 11\n'
b'Skipping line 2561490: expected 10 fields, saw 11\nSkipping line 2592632: expected 10 fields, saw 12\nSkipping line 2610510: expected 10 fields, saw 11\nSkipping line 2619239: expected 10 fields, saw 11\n'
b'Skipping line 2669852: expected 10 fields, saw 11\nSkipping line 2674859: expected 10 fields, saw 12\nSkipping line 2685033: expected 10 fields, saw 11\n'
b'Skipping line 2713857: expected 10 fields, saw 11\nSkipping line 2727811: expected 10 fields, saw 11\nSkipping line 2734251: expected 10 fields, saw 11\n'
b'Skipping line 2789983: expected 10 fields, saw 11\nSkipping line 2807105: expected 10 fields, saw 12\n'
b'Skipping line 2819069: expected 10 fields, saw 11\nSkipping line 2845525: expected 10 fields, saw 11\nSkipping line 2874899: expected 10 fields, saw 11\n'
b'Skipping line 2911849: expected 10 fields, saw 11\nSkipping line 2937641: expected 10 fields, saw 12\n'
b'Skipping line 2976325: expected 10 fields, saw 11\nSkipping line 2983311: expected 10 fields, saw 11\nSkipping line 2984900: expected 10 fields, saw 11\nSkipping line 3010517: expected 10 fields, saw 11\n'
b'Skipping line 3019837: expected 10 fields, saw 11\nSkipping line 3065637: expected 10 fields, saw 11\nSkipping line 3075947: expected 10 fields, saw 11\n'
b'Skipping line 3101586: expected 10 fields, saw 14\nSkipping line 3117873: expected 10 fields, saw 11\nSkipping line 3129749: expected 10 fields, saw 11\nSkipping line 3140134: expected 10 fields, saw 11\n'
b'Skipping line 3179383: expected 10 fields, saw 11\n'
b'Skipping line 3228056: expected 10 fields, saw 14\n'
b'Skipping line 3281234: expected 10 fields, saw 11\nSkipping line 3328738: expected 10 fields, saw 12\nSkipping line 3335058: expected 10 fields, saw 11\n'
b'Skipping line 3385137: expected 10 fields, saw 11\n'
b'Skipping line 3445616: expected 10 fields, saw 11\nSkipping line 3471881: expected 10 fields, saw 11\nSkipping line 3473281: expected 10 fields, saw 11\n'
b'Skipping line 3497951: expected 10 fields, saw 14\nSkipping line 3509346: expected 10 fields, saw 11\n'
b'Skipping line 3544025: expected 10 fields, saw 11\nSkipping line 3551687: expected 10 fields, saw 11\nSkipping line 3565048: expected 10 fields, saw 11\n'
b'Skipping line 3638671: expected 10 fields, saw 13\nSkipping line 3667335: expected 10 fields, saw 11\n'
b'Skipping line 3784233: expected 10 fields, saw 12\nSkipping line 3800953: expected 10 fields, saw 13\n'
b'Skipping line 3817633: expected 10 fields, saw 11\nSkipping line 3850842: expected 10 fields, saw 11\n'
b'Skipping line 3897819: expected 10 fields, saw 11\nSkipping line 3928500: expected 10 fields, saw 11\nSkipping line 3929389: expected 10 fields, saw 12\n'
b'Skipping line 3966923: expected 10 fields, saw 11\nSkipping line 3990557: expected 10 fields, saw 11\n'
b'Skipping line 4044499: expected 10 fields, saw 11\n'
b'Skipping line 4123538: expected 10 fields, saw 11\nSkipping line 4125110: expected 10 fields, saw 12\n'
b'Skipping line 4130726: expected 10 fields, saw 11\nSkipping line 4150113: expected 10 fields, saw 11\n'
b'Skipping line 4195622: expected 10 fields, saw 11\nSkipping line 4252876: expected 10 fields, saw 11\nSkipping line 4253705: expected 10 fields, saw 11\n'
b'Skipping line 4278566: expected 10 fields, saw 11\nSkipping line 4307381: expected 10 fields, saw 11\nSkipping line 4321394: expected 10 fields, saw 11\nSkipping line 4324841: expected 10 fields, saw 14\n'
b'Skipping line 4369405: expected 10 fields, saw 11\nSkipping line 4369864: expected 10 fields, saw 11\nSkipping line 4372210: expected 10 fields, saw 12\nSkipping line 4373468: expected 10 fields, saw 11\n'
b'Skipping line 4402626: expected 10 fields, saw 11\nSkipping line 4409662: expected 10 fields, saw 11\nSkipping line 4431209: expected 10 fields, saw 11\nSkipping line 4436432: expected 10 fields, saw 11\n'
b'Skipping line 4498977: expected 10 fields, saw 11\n'
b'Skipping line 4532513: expected 10 fields, saw 11\nSkipping line 4563833: expected 10 fields, saw 11\nSkipping line 4566848: expected 10 fields, saw 11\n'
b'Skipping line 4592166: expected 10 fields, saw 12\nSkipping line 4632344: expected 10 fields, saw 11\n'
b'Skipping line 4653856: expected 10 fields, saw 11\nSkipping line 4698146: expected 10 fields, saw 11\n'
b'Skipping line 4768426: expected 10 fields, saw 11\n'
b'Skipping line 4850832: expected 10 fields, saw 11\nSkipping line 4861140: expected 10 fields, saw 11\n'
b'Skipping line 4947688: expected 10 fields, saw 11\nSkipping line 4971217: expected 10 fields, saw 11\nSkipping line 4971843: expected 10 fields, saw 14\nSkipping line 4979376: expected 10 fields, saw 11\n'
b'Skipping line 4981884: expected 10 fields, saw 14\nSkipping line 4987373: expected 10 fields, saw 11\nSkipping line 5010640: expected 10 fields, saw 11\nSkipping line 5022758: expected 10 fields, saw 11\nSkipping line 5039223: expected 10 fields, saw 11\n'
b'Skipping line 5101419: expected 10 fields, saw 12\n'
b'Skipping line 5114578: expected 10 fields, saw 11\nSkipping line 5154390: expected 10 fields, saw 13\nSkipping line 5176154: expected 10 fields, saw 11\n'
b'Skipping line 5182025: expected 10 fields, saw 11\n'
b'Skipping line 5263099: expected 10 fields, saw 13\nSkipping line 5280400: expected 10 fields, saw 12\nSkipping line 5289218: expected 10 fields, saw 11\n'
b'Skipping line 5315768: expected 10 fields, saw 11\nSkipping line 5348710: expected 10 fields, saw 11\n'
b'Skipping line 5405221: expected 10 fields, saw 11\n'
b'Skipping line 5484605: expected 10 fields, saw 11\nSkipping line 5485748: expected 10 fields, saw 11\nSkipping line 5491728: expected 10 fields, saw 11\nSkipping line 5499225: expected 10 fields, saw 11\n'
b'Skipping line 5520631: expected 10 fields, saw 12\n'
b'Skipping line 5621523: expected 10 fields, saw 11\nSkipping line 5631387: expected 10 fields, saw 11\n'
b'Skipping line 5677817: expected 10 fields, saw 11\nSkipping line 5683465: expected 10 fields, saw 11\n'
b'Skipping line 5737357: expected 10 fields, saw 11\n'
b'Skipping line 5789101: expected 10 fields, saw 11\n'
b'Skipping line 5840318: expected 10 fields, saw 12\n'
b'Skipping line 5929737: expected 10 fields, saw 11\n'
b'Skipping line 5965935: expected 10 fields, saw 11\nSkipping line 5976006: expected 10 fields, saw 11\nSkipping line 5980751: expected 10 fields, saw 11\nSkipping line 5995236: expected 10 fields, saw 11\n'
b'Skipping line 6036717: expected 10 fields, saw 11\nSkipping line 6038766: expected 10 fields, saw 11\nSkipping line 6048271: expected 10 fields, saw 11\nSkipping line 6081112: expected 10 fields, saw 11\nSkipping line 6089903: expected 10 fields, saw 11\n'
b'Skipping line 6123398: expected 10 fields, saw 11\n'
b'Skipping line 6162416: expected 10 fields, saw 14\nSkipping line 6177208: expected 10 fields, saw 11\n'
b'Skipping line 6267313: expected 10 fields, saw 11\nSkipping line 6285138: expected 10 fields, saw 11\n'
b'Skipping line 6297633: expected 10 fields, saw 11\nSkipping line 6318698: expected 10 fields, saw 11\n'
b'Skipping line 6360337: expected 10 fields, saw 11\nSkipping line 6401172: expected 10 fields, saw 11\n'
b'Skipping line 6443178: expected 10 fields, saw 11\nSkipping line 6452526: expected 10 fields, saw 11\nSkipping line 6469058: expected 10 fields, saw 11\n'
b'Skipping line 6495208: expected 10 fields, saw 11\nSkipping line 6505010: expected 10 fields, saw 11\nSkipping line 6525664: expected 10 fields, saw 11\nSkipping line 6530318: expected 10 fields, saw 11\n'
b'Skipping line 6559432: expected 10 fields, saw 11\nSkipping line 6560525: expected 10 fields, saw 11\nSkipping line 6570703: expected 10 fields, saw 14\nSkipping line 6595308: expected 10 fields, saw 11\nSkipping line 6598489: expected 10 fields, saw 11\nSkipping line 6615657: expected 10 fields, saw 11\n'
b'Skipping line 6634975: expected 10 fields, saw 11\n'
b'Skipping line 6784684: expected 10 fields, saw 11\n'
b'Skipping line 6858343: expected 10 fields, saw 13\n'
b'Skipping line 6890839: expected 10 fields, saw 11\n'
b'Skipping line 6953577: expected 10 fields, saw 11\nSkipping line 6953810: expected 10 fields, saw 11\nSkipping line 6963820: expected 10 fields, saw 11\nSkipping line 6973587: expected 10 fields, saw 11\n'
b'Skipping line 7019574: expected 10 fields, saw 11\nSkipping line 7046164: expected 10 fields, saw 12\n'
b'Skipping line 7080661: expected 10 fields, saw 11\nSkipping line 7092750: expected 10 fields, saw 11\nSkipping line 7093478: expected 10 fields, saw 11\nSkipping line 7130228: expected 10 fields, saw 11\nSkipping line 7134584: expected 10 fields, saw 11\nSkipping line 7141938: expected 10 fields, saw 12\n'
b'Skipping line 7155678: expected 10 fields, saw 11\nSkipping line 7206806: expected 10 fields, saw 11\n'
b'Skipping line 7275714: expected 10 fields, saw 11\nSkipping line 7304691: expected 10 fields, saw 11\nSkipping line 7312833: expected 10 fields, saw 11\n'
b'Skipping line 7342333: expected 10 fields, saw 12\nSkipping line 7363810: expected 10 fields, saw 11\nSkipping line 7374833: expected 10 fields, saw 11\n'
b'Skipping line 7410945: expected 10 fields, saw 11\nSkipping line 7418159: expected 10 fields, saw 11\nSkipping line 7421807: expected 10 fields, saw 11\nSkipping line 7463572: expected 10 fields, saw 11\n'
b'Skipping line 7496741: expected 10 fields, saw 11\nSkipping line 7513294: expected 10 fields, saw 11\n'
b'Skipping line 7551649: expected 10 fields, saw 11\nSkipping line 7577410: expected 10 fields, saw 11\nSkipping line 7595719: expected 10 fields, saw 11\n'
b'Skipping line 7635498: expected 10 fields, saw 11\nSkipping line 7654030: expected 10 fields, saw 11\n'
b'Skipping line 7681532: expected 10 fields, saw 11\nSkipping line 7689519: expected 10 fields, saw 12\nSkipping line 7701751: expected 10 fields, saw 11\nSkipping line 7703222: expected 10 fields, saw 11\nSkipping line 7728443: expected 10 fields, saw 11\n'
b'Skipping line 7737066: expected 10 fields, saw 11\nSkipping line 7769562: expected 10 fields, saw 11\nSkipping line 7794243: expected 10 fields, saw 11\n'
b'Skipping line 7811460: expected 10 fields, saw 11\nSkipping line 7816153: expected 10 fields, saw 11\nSkipping line 7823528: expected 10 fields, saw 14\nSkipping line 7831021: expected 10 fields, saw 12\nSkipping line 7844957: expected 10 fields, saw 11\nSkipping line 7852713: expected 10 fields, saw 11\n'
b'Skipping line 7920041: expected 10 fields, saw 11\nSkipping line 7925093: expected 10 fields, saw 11\n'
b'Skipping line 7958408: expected 10 fields, saw 11\nSkipping line 7980958: expected 10 fields, saw 11\n'
b'Skipping line 8025116: expected 10 fields, saw 12\nSkipping line 8039306: expected 10 fields, saw 11\nSkipping line 8049023: expected 10 fields, saw 11\nSkipping line 8050424: expected 10 fields, saw 11\nSkipping line 8059641: expected 10 fields, saw 11\n'
b'Skipping line 8066424: expected 10 fields, saw 11\n'
b'Skipping line 8171601: expected 10 fields, saw 11\n'
b'Skipping line 8195040: expected 10 fields, saw 11\n'
b'Skipping line 8313594: expected 10 fields, saw 12\n'
b'Skipping line 8327193: expected 10 fields, saw 12\nSkipping line 8352217: expected 10 fields, saw 11\nSkipping line 8352903: expected 10 fields, saw 12\n'
b'Skipping line 8406215: expected 10 fields, saw 11\nSkipping line 8417497: expected 10 fields, saw 11\n'
b'Skipping line 8481106: expected 10 fields, saw 11\nSkipping line 8488175: expected 10 fields, saw 11\n'
b'Skipping line 8521743: expected 10 fields, saw 11\nSkipping line 8526450: expected 10 fields, saw 11\nSkipping line 8547718: expected 10 fields, saw 11\nSkipping line 8559595: expected 10 fields, saw 11\n'
b'Skipping line 8587944: expected 10 fields, saw 11\nSkipping line 8615497: expected 10 fields, saw 11\nSkipping line 8627035: expected 10 fields, saw 11\n'
b'Skipping line 8665842: expected 10 fields, saw 11\nSkipping line 8670813: expected 10 fields, saw 12\nSkipping line 8676130: expected 10 fields, saw 11\nSkipping line 8683531: expected 10 fields, saw 12\n'
b'Skipping line 8732873: expected 10 fields, saw 11\nSkipping line 8735433: expected 10 fields, saw 11\nSkipping line 8739016: expected 10 fields, saw 11\nSkipping line 8768816: expected 10 fields, saw 12\n'
b'Skipping line 8794849: expected 10 fields, saw 11\nSkipping line 8808199: expected 10 fields, saw 12\nSkipping line 8808635: expected 10 fields, saw 11\n'
b'Skipping line 8868241: expected 10 fields, saw 11\nSkipping line 8891443: expected 10 fields, saw 11\nSkipping line 8894310: expected 10 fields, saw 11\nSkipping line 8904236: expected 10 fields, saw 11\n'
b'Skipping line 8973593: expected 10 fields, saw 13\n'
b'Skipping line 9035018: expected 10 fields, saw 11\nSkipping line 9042999: expected 10 fields, saw 12\n'
b'Skipping line 9057528: expected 10 fields, saw 11\nSkipping line 9069656: expected 10 fields, saw 12\nSkipping line 9073097: expected 10 fields, saw 13\n'
b'Skipping line 9133268: expected 10 fields, saw 11\n'
b'Skipping line 9223801: expected 10 fields, saw 11\n'
b'Skipping line 9285800: expected 10 fields, saw 11\n'
b'Skipping line 9307248: expected 10 fields, saw 11\nSkipping line 9314956: expected 10 fields, saw 11\nSkipping line 9371662: expected 10 fields, saw 11\n'
b'Skipping line 9508621: expected 10 fields, saw 11\nSkipping line 9540192: expected 10 fields, saw 11\nSkipping line 9557205: expected 10 fields, saw 11\nSkipping line 9558587: expected 10 fields, saw 11\n'
b'Skipping line 9576008: expected 10 fields, saw 11\nSkipping line 9619468: expected 10 fields, saw 11\n'
b'Skipping line 9636928: expected 10 fields, saw 11\nSkipping line 9647018: expected 10 fields, saw 11\nSkipping line 9662507: expected 10 fields, saw 11\nSkipping line 9664361: expected 10 fields, saw 11\nSkipping line 9699095: expected 10 fields, saw 12\n'
b'Skipping line 9777325: expected 10 fields, saw 11\nSkipping line 9783432: expected 10 fields, saw 11\n'
C:\Users\Chapanin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,country,founded,id,industry,linkedin_url,locality,name,region,size,website
0,united kingdom,2017.0,codingcodex,education management,linkedin.com/company/codingcodex,nottingham,codex,nottingham,11-50,codingwithcodex.co.uk
1,italy,2016.0,rid968fm,broadcast media,linkedin.com/company/rid968fm,rome,rid 96.8 fm,lazio,1-10,rid968.com
2,costa rica,NaN,eclipse-in-action,consumer services,linkedin.com/company/eclipse-in-action,san josé,eclipse in action,san jose,201-500,supportseven.com
3,turkey,2008.0,pergel-digital-media,internet,linkedin.com/company/pergel-digital-media,NaN,pergel digital media,NaN,1-10,pergeldigital.com
4,united states,2007.0,cougar-electric-llc,construction,linkedin.com/company/cougar-electric-llc,swartz creek,cougar electric llc,michigan,1-10,power-now.biz

In [4]:
df.country.nunique(), df.locality.nunique(), df.region.nunique()

(249, 90979, 4443)

In [5]:
df.isna().sum()/df.shape[0]*100

country         16.297923
founded         50.180549
id               0.000010
industry         9.042004
linkedin_url     0.000000
locality        33.002053
name             0.748760
region          28.927910
size             0.000000
website         24.894256
dtype: float64

In [6]:
#print(df.country.nunique())
country_df = df.groupby('country').count().sort_values('id', ascending=False)[['id', 'website']]
country_df.columns = ['n_companies', 'n_websites']
print(country_df.shape[0])
country_df.head(10)

249

                n_companies  n_websites
country
united states       3213829     2396446
united kingdom       935786      635134
india                396714      288193
brazil               308647      249234
france               278142      173166
canada               267602      228169
australia            262869      233152
netherlands          247567      214751
germany              234000      210501
spain                232876      180554

In [7]:
industry_df = df.groupby('industry').count().sort_values('id', ascending=False)[['id', 'website']]
industry_df.columns = ['n_companies', 'n_websites']
print(industry_df.shape[0])
industry_df.head(20)

147

                                      n_companies  n_websites
industry
information technology and services        534903      451873
construction                               427072      305335
marketing and advertising                  385629      335856
real estate                                274137      204571
management consulting                      242218      194122
computer software                          225451      179958
financial services                         214856      167027
retail                                     201062      146664
health, wellness and fitness               196334      163582
hospital & health care                     191293      128874
education management                       170453      125103
internet                                   169436      147943
automotive                                 149395      113839
non-profit organization management         135733      110803
hospitality                                134868      101701
design                                     132484      113948
food & beverages                           126918       99342
accounting                                 114134       83930
mechanical or industrial engineering       109799       86208
electrical/electronic manufacturing        108647       73647

In [129]:
industry_df.tail()

NameError: name 'industry_df' is not defined

In [9]:
df['english'] = df.country.map(lambda x: x in ['united states', 'united kingdom', 'australia', 'canada'])
clean_df = df[(~df.website.isna()) & df.english & (~df.industry.isna())& (~df.locality.isna())& (~df.region.isna())]
clean_df.to_csv('./dirty_data/company_english.csv')
clean_df.shape

(2802311, 11)

In [ ]:
targets = clean_df[['website']]
CHUNK_SIZE = 200000
n_chunks = ceil(len(targets)/CHUNK_SIZE)
for i in range(n_chunks):
    targets.iloc[i*CHUNK_SIZE:(i+1)*CHUNK_SIZE].to_csv('./targets/{}.csv'.format(i), index=False)

In [3]:
import os

def deformat_link(s):
    s = s.split('/')[2]
    if s.startswith('www'):
        s = s[4:]
    return s

os.makedirs('remaining_targets', exist_ok=True)
os.makedirs('clean_data', exist_ok=True)
os.makedirs('failed_targets', exist_ok=True)
clean_df = pd.read_csv('./dirty_data/company_english.csv')

114

In [144]:
to_clean = [int(x[:3]) for x in os.listdir('.') if x.endswith('.json')]
to_clean.pop(to_clean.index(114))
for chunk_no in to_clean:
    chunk_websites = list(pd.read_csv('./targets/{}.csv'.format(chunk_no)).website.values)
    chunk_websites_set = set(chunk_websites)
    filename = '{}.json'.format(chunk_no)
    
    tmp = clean_df.set_index('website').loc[chunk_websites]
    with open(filename, 'r') as f:
        parsing_results = json.load(f)
    
    if chunk_no < 3:
        for x in parsing_results:
            x['original_url'] = deformat_link(x['url'])

    parsed_websites = {x['original_url'] for x in parsing_results}
    failed = [x for x in chunk_websites if x not in parsed_websites]
    pd.DataFrame(failed, columns=['website']).to_csv('./remaining_targets/{}.csv'.format(chunk_no), index=False)
    print(chunk_no, 'failed', len(failed))
    
    success = []
    saved = set()
    for x in parsing_results:
        if x['original_url'] not in chunk_websites_set or x['original_url'] in saved:
            continue
        row = tmp.loc[x['original_url']]
        x['country'] = row['country']
        x['region'] = row['region']
        x['locality'] = row['locality']
        x['founded'] = row['founded']
        x['industry'] = row['industry']
        x['size'] = row['size']
        if chunk_no > 2:
            x.pop('index')
        success.append(x)
        saved.add(x['original_url'])
    
    print(chunk_no, 'saved', len(success))
    with open('./clean_data/{}.json'.format(chunk_no), 'w') as f:
        json.dump(success, f)
    shutil.move(filename, './processed/'+filename)

In [146]:
total = 0
for f_name in os.listdir('./clean_data/'):
    with open('./clean_data/{}'.format(f_name), 'r') as f:
        l = json.load(f)
    total += len(l)
total

968685

In [118]:
targets = []
for f_name in os.listdir('./remaining_targets/'):
    targets += list(pd.read_csv('./remaining_targets/{}.csv'.format(f_name)).website.values)
len(targets)

2296602

In [120]:
targets = pd.DataFrame(targets, columns=['website'])
CHUNK_SIZE = 20000
n_chunks = ceil(len(targets)/CHUNK_SIZE)
for i in range(n_chunks):
    targets.iloc[i*CHUNK_SIZE:(i+1)*CHUNK_SIZE].to_csv('./targets/{}.csv'.format(i+100), index=False)

In [123]:
{x['size'] for x in l}

{'1-10',
 '10001+',
 '1001-5000',
 '11-50',
 '201-500',
 '5001-10000',
 '501-1000',
 '51-200'}

In [128]:
clean_df['size'].unique()

array(['11-50', '1-10', '51-200', '1001-5000', '501-1000', '201-500',
       '10001+', '5001-10000'], dtype=object)

In [130]:
clean_df.head()

,Unnamed: 0,country,founded,id,industry,linkedin_url,locality,name,region,size,website,english
0,0,united kingdom,2017.0,codingcodex,education management,linkedin.com/company/codingcodex,nottingham,codex,nottingham,11-50,codingwithcodex.co.uk,True
1,4,united states,2007.0,cougar-electric-llc,construction,linkedin.com/company/cougar-electric-llc,swartz creek,cougar electric llc,michigan,1-10,power-now.biz,True
2,7,united states,NaN,miracle-doors-co-llp,utilities,linkedin.com/company/miracle-doors-co-llp,houston,"miracle doors, llc",texas,11-50,miracledoors.com,True
3,10,united states,1995.0,carlson-consulting-engineers,civil engineering,linkedin.com/company/carlson-consulting-engineers,memphis,"carlson consulting engineers, inc.",tennessee,11-50,carlsonconsulting.net,True
4,13,united states,2014.0,beacon-marketing-group-inc-by-owner-,marketing and advertising,linkedin.com/company/beacon-marketing-group-in...,kirkland,beacon marketing group inc,washington,1-10,beaconmarketinggroupinc.com,True

In [132]:
gr = clean_df.groupby('industry').count().sort_values('id', ascending=False)[['id', 'website']]

In [ ]:
gr